/*.menu {
    position:fixed;
    top:0;
    width:100%;
}
.fixed {
    top:0;
}*/
#wrap{
    margin-top: 50px;}
.nv a{
    color:#fff !important;
    padding-right: 30px;
}

.container-box{
  position: relative;
  width: 50%;
}

.background-text {
  display: block;
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-box:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.te_header_before_logo img, .navbar-brand.logo img {
height: 40px;
}

.te_header_navbar{display:none;}

.te_header_navbar #top_menu_collapse #top_menu > li > a.nav-link.active {
    color: #000 !important;
}

.badge-primary {
    color: #FFFFFF;
    background-color: #000 !important;
}

.te_user_account > .dropdown-menu a.dropdown-item > span.fa {
    font-size: 0.8125rem;
    color: #38544d !important;
    margin-right: 1rem;
}

.scrollup-div:hover {
    background: #38544d;
}

.o_wsale_apply_layout .active {
    color: #38544d;
    border: 1px solid rgb(56, 84, 77);
}

.searchbar{
       margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    }

    .search_input{
    color: #000;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }